@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,900&display=swap');
*{
    padding:0;
    margin:0;
    background:#c5d9e0;
    font-family: poppins;
}
#RegisterContainer #RegisterContent{
    max-width:100%;
    min-width:50%;
    height: 100vh;
    overflow: hidden;
}
#RegisterContainer{
    width:100%;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;
}
#fixed-navbar{
    width:100%;
    left:0;
    top:0;
    position: fixed;
    padding:20px;
}
#fixed-navbar .logo-container .logo{
    font-weight: 800;
    font-size:22px;
    font-family:montserrat;
    color:#157e7e;
}

#fixed-navbar .logo-container .logo span{
    -webkit-text-stroke: 1px #032727;
    color:transparent;
}

#RegisterContainer .RegisterImage{
    width:auto;
    min-width: 10%;
    overflow: hidden;
    position: relative;
}
#RegisterContainer .RegisterImage .ImageText{
    position: absolute;
    background: none;
    height:100%;
    width:80%;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    color:#f0f0f0;
    font-family: montserrat;
    left:10%;
    top:0%;
    display: flex;
    align-items: center;
    justify-content:center;
}
#RegisterContainer .RegisterImage img{
    object-fit: cover;
    opacity: .9;
    width:130%;
    height:130%;

}
#RegisterPage{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    width:100%;
    height:100vh;
}
#RegisterPage #message{
    color:#91402b;
    font-weight: 700;
    font-family: montserrat;
    padding:10px;
}
#RegisterPage .Register-Heading{
    padding:10px;
    margin:10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    font-family:poppins;
    font-size: 24px;
    flex-direction: column;
    font-weight: 600;
    opacity: 1;
}
#RegisterPage .Register-Heading .small{
    font-size: 16px;
    padding:5px;
    font-weight: 400;
    opacity: .9;

}

#RegisterPage input{
    margin:15px;
    padding:10px;
    width: 95%;
    border:none;
    font-size:16px;
    border-bottom: 1px solid #000;
}
#RegisterPage button{
    padding:15px;
    margin:30px;
    width: 100%;
    border:none;
    font-size:16px;
    font-family: montserrat;
    background:#157e7e9f;
    cursor:pointer;
    color:#f0f0f0;
    border-radius: 6px;
    font-weight: 700;
    border: none;
}
#RegisterPage button:hover{
    background:#157e7e;
}
#RegisterPage .Register-page-form{
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
#RegisterPage .Register-page-form form{
    width:auto;
    min-width:50%;
    max-width: 90%;
    display:flex;
    align-items: center;
    flex-direction: column;
    height: auto;
}

#RegisterPage .Register-page-form .signup-link{
    opacity:.9;
}
#RegisterPage .Register-page-form .signup-link a{
    text-decoration: none;
    opacity: 1;
    color:#157e7e;
    font-family:montserrat;
    font-weight: 700;
}