@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,900&display=swap');
*{
    user-select:none;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100vh;
    font-family:poppins;
}

#TodoApp .todo-text{
    user-select:none;
}

#TodoApp .todo-text.editable{
    background: #1C6758;}
#TodoApp .todo-text.done{
    text-decoration:line-through;
}
#TodoApp{
    display: block;
    width:100%;
    height: 100vh;
    background: #3D8361;
    color:#EEF2E6;
}
/* 1C6758 , 3D8361 , D6CDA4 , EEF2E6 */