<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARLO BROWN - American Supermodel & Entrepreneur</title>

     <!--favicon-img--> 
     <link rel="icon" type="image/png" href="images/favicon.jpg">
     <!--favicon-img-->

     <!-- SWIPER CSS LINK -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css" integrity="sha256-DBYdrj7BxKM3slMeqBVWX2otx7x4eqoHRJCsSDJ0Nxw=" crossorigin="anonymous"/>
     <!-- SWIPER CSS LINK -->

     <!-- GSAP JS LINK -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
     <!-- GSAP JS LINK -->

     <!-- CSS FILE LINK -->
    <link rel="stylesheet" href="css/style.css">
     <!-- CSS FILE LINK -->
     
     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DK9LN0GLYT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DK9LN0GLYT');
</script>


</head>
<body>
    <!-- ALL CONTENTS -->
    <div id="all">


        <!-- LOADER PAGE -->
        <div id="loader">
            <div class="loader-content">
                <div class="loading-text">
                    ARLO BROWN- AMERICAN SUPERMODEL.
                </div>
            </div>
        </div>
        <!-- LOADER PAGE -->

        <!-- BREAKER -->
        <div id="breaker">

        </div> 
      <!-- BREAKER -->

                  <!-- NAVIGATION CONTENT -->
                  <div id="navigation-content">

                    <div class="navigation-back"></div>
                    <div class="navigation-back"></div>
                    <div class="navigation-back"></div>
    
                    <div class="navigation-close">
                        <div class="navigation-close-line"></div>
                        <div class="navigation-close-line"></div>
                    </div>
                    <ul>
                        <li class="navigation-links"><a href="#home" data-text="home" class="page-link">HOME</a></li>
                        <li class="navigation-links"><a href="#about" data-text="about" class="page-link">ABOUT</a></li>
                        <li class="navigation-links"><a href="#work" data-text="work" class="page-link">WORK</a></li>
                        <li class="navigation-links"><a href="#gallery" data-text="gallery" class="page-link">GALLERY</a></li>
                        <li class="navigation-links"><a href="#contact" data-text="contact" class="page-link">CONTACT</a></li>
                    </ul>
                    <div class="social-media-links">
                        <ul>
                            <li class="social-links"><a href="#" data-text="YT" >YT</a></li>
                            <li class="social-links"><a href="#" data-text="FB">FB</a></li>
                            <li class="social-links"><a href="#" data-text="IG">IG</a></li>
                        </ul>
                    </div>
    
                </div>
                <!-- NAVIGATION CONTENT -->


        <!-- HOME PAGE -->
        <div id="home">

            <!-- HOMECONTENTS -->
            <div id="home-content">


        <!-- NAVIGATION -->
              <div class="navigation">
               <a href="#home" class="page-link">
                <div class="logo  opacity2">Arlo Brown</div>
               </a> 
                <div class="navigation-bar hover opacity2">
                    <div class="navigation-line"></div>
                    <div class="navigation-line"></div>
                    <div class="navigation-line"></div>
                </div>
            </div>
        <!-- NAVIGATION -->


            
            <!-- SLIDER HOME PAGE -->
            <div class="swiper-container parallax-slider">
              <div class="swiper-wrapper">

                <!-- IMAGE -->
                <div class="swiper-slide">
                    <div class="img-container">
                        <img src="images/male-profile-one.jpg" alt="image" class="home-slider-image">
                    </div>
                </div>
                <!-- IMAGE -->

                <!-- IMAGE -->
                <div class="swiper-slide">
                    <div class="img-container">
                        <img src="images/male-profile-two.jpg" alt="image" class="home-slider-image">
                    </div>
                </div>
                <!-- IMAGE -->

                <!-- IMAGE -->
                <div class="swiper-slide">
                    <div class="img-container">
                        <img src="images/male-profile-four.jpg" alt="image" class="home-slider-image">
                    </div>
                </div>
                <!-- IMAGE -->

              </div>

              <!-- PAGINATION -->
              <div class="swiper-pagination-container opacity2">             
               
                    <div class="swiper-pagination"></div>
                  
              </div>
              <!-- PAGINATION -->



              <!-- CONTROLS -->
              <div class="slider-controls opacity2">
                <div class="swiper-nav-ctrl prev-ctrl hover">
                    <img src="images/prev.png" alt="prev">
                </div>
       
                <div class="swiper-nav-ctrl next-ctrl hover">
                    <img src="images/next.png" alt="next">
                </div>
              </div>

              <!-- CONTROLS -->

            </div>
        <!-- SLIDER HOME PAGE -->

        <!-- TEXT HOME PAGE -->
        <div class="text-home-page ">

            <div class="info-heading opacity3">
                American SuperModel & Entrepreneur
            </div>
            <div class="info-text opacity3">
                Arlo is a signed agency model based in NY & Philly, and works mainly on beauty, fashion editorials, and commercial print jobs.
            </div>

            <div class="about-link-home opacity3">
             <a href="#about" class="page-link">
                <span class="about-link-home-text">
                    ABOUT ME
                </span>
                </a>
            </div>


            <div class="line"></div>
            <div class="line-two"></div>



        </div>
        <!-- TEXT HOME PAGE -->


        <!-- GALLERY LINK (ON SMALLER DEVICES) -->

        <div class="home-page-content-mobile">

     
            <div class="gallery-link-home-mobile opacity2">
                <a href="#gallery" class="page-link">
                   <span class="gallery-link-home-mobile-text">
                       EXPLORE&nbsp;GALLERY
                   </span>
                </a>
            </div>

        </div>



        <!-- GALLERY LINK (ON SMALLER DEVICES) -->



        </div>
        </div>
        <!-- HOME PAGE -->


        <!-- ABOUT PAGE -->

        <div id="about">

            <!-- ABOUT CONTENTS -->
            <div id="about-content">




        <!-- NAVIGATION -->
        <div class="navigation">
            <a href="#home" class="page-link">
                <div class="logo  opacity3">Arlo Brown</div>
               </a> 
            <div class="navigation-bar hover">
                <div class="navigation-line"></div>
                <div class="navigation-line"></div>
                <div class="navigation-line"></div>
            </div>
        </div>
        <!-- NAVIGATION -->

        <div class="about-heading">
            About Me.
        </div>

        <!-- ABOUT MAIN CONTENT -->
        <div class="about-main-content">

            <!-- ABOUT TEXT -->
            <div class="about-text">

                <!-- ABOUT INFO -->
                <div class="about-text-info">
                    <ul>
                        <li>Age : 19</li>
                        <li>Hometown: St. Louis, MO</li>
                        <li>Residence: New York, NY</li>
                    </ul>
                </div>
                <!-- ABOUT INFO -->


                <!-- PARAGRAPH -->
                <div class="about-paragraph">
                    Arlo Brown is an American supermodel, 7-time Vogue cover boy, entrepreneur and philanthropist.
                </div>
                <!-- PARAGRAPH -->

                <!-- PARAGRAPH -->
                <div class="about-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut sint non aperiam similique quam odit, nostrum voluptatibus ex natus reprehenderit error rerum dolorum obcaecati rem illo, quae sapiente ut porro!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quasi, ad, ex totam, accusamus ullam optio quod ea natus officiis at eveniet iste delectus! Vitae vero maxime quae delectus ducimus!
                </div>
                <!-- PARAGRAPH -->

                <!-- PARAGRAPH -->
                <div class="about-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut sint non aperiam similique quam odit, nostrum voluptatibus ex natus reprehenderit error rerum dolorum obcaecati rem illo, quae sapiente ut porro!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quasi, ad, ex totam, accusamus ullam optio quod ea natus officiis at eveniet iste delectus! Vitae vero maxime quae delectus ducimus!
                </div>
                <!-- PARAGRAPH -->

                <div class="contact-link-about">
                    <a href="#contact" class="page-link">
                       <span class="contact-link-about-text">
                           CONTACT ME
                       </span>
                    </a>
                </div>





            </div>
            <!-- ABOUT TEXT -->

            <!-- ABOUT IMAGES -->
            <div class="about-images">

                <div class="img">
                    <img src="images/male-profile-six.jpg" alt="pic">
                </div>

                <div class="img">
                    <img src="images/male-profile-seven.jpg" alt="pic">
                </div>

    
            </div>
            <!-- ABOUT IMAGES -->


        </div>
        <!-- ABOUT MAIN CONTENT -->


        <div id="measurements">

            <div class="measurement-heading">
                Measurements.
            </div>

            <div class="measurement-content">
                <ul>
                    <li ><span class="opacity">Hair Color:</span><br> Black</li>
                    <li ><span class="opacity">Eye Color:</span><br> Green</li>
                    <li ><span class="opacity">Height:</span><br> 5'11"</li>
                    <li ><span class="opacity">Weight:</span><br> 64kg</li>
                    <li ><span class="opacity">Chest:</span><br> 36"</li>
                    <li ><span class="opacity">Waist:</span><br> 29" </li>
                    <li ><span class="opacity">Neck:</span><br> 19"</li>
                    <li ><span class="opacity">Sleeve:</span><br> 34"</li>
                    <li ><span class="opacity">Shoe Size:</span><br> 9</li>
                </ul>
            </div>

        </div>





            </div>
            <!-- ABOUT CONTENTS -->

        </div>


        <!-- ABOUT PAGE -->


        <!-- GALLERY PAGE -->
        <div id="gallery">

            <!-- GALLERY CONTENT -->
             <div id="gallery-content">



        <!-- NAVIGATION -->
        <div class="navigation">
            <a href="#home" class="page-link">
                <div class="logo  opacity3">Arlo Brown</div>
               </a> 
            <div class="navigation-bar hover">
                <div class="navigation-line"></div>
                <div class="navigation-line"></div>
                <div class="navigation-line"></div>
            </div>
        </div>
        <!-- NAVIGATION -->

                <!-- HEADING -->
                <div class="gallery-heading">
                    Gallery.
                </div>
                <!-- HEADING -->


                <!-- SLIDER -->
                <div class="align-center">
      
                    <div class="swiper-container ">
                    <div class="swiper-wrapper"> 

                    <div class="swiper-slide">
                        <img src="images/male-profile-one.jpg" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/male-profile-two.jpg" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/male-profile-four.jpg" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/male-profile-eight.jpg" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/male-profile-seven.jpg" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/male-profile-three.jpg" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/male-profile-six.jpg" alt="">
                    </div>

                    </div>

                    </div>

                    
                    <div class="controls">
                        <button id ="prev" ><img src="images/prev-black.png" alt="" class="imgs"></button>
                        <button id ="next" ><img src="images/next-black.png" alt="" class="imgs"></button>
                    </div>

                    <!-- progress-bar -->
                  <div class="progress-bar-container-swiper fade-in"></div>
                    <!-- progress-bar -->

                </div>
                <!-- SLIDER -->


             </div>
            <!-- GALLERY CONTENT -->

        </div>
        <!-- GALLERY PAGE -->



        <!-- WORK PAGE -->

        <div id="work">


        <!-- WORK CONTENT -->
        <div id="work-content">


        <!-- NAVIGATION -->
        <div class="navigation">
            <a href="#home" class="page-link">
                <div class="logo  opacity3">Arlo Brown</div>
               </a> 
            <div class="navigation-bar hover">
                <div class="navigation-line"></div>
                <div class="navigation-line"></div>
                <div class="navigation-line"></div>
            </div>
        </div>
        <!-- NAVIGATION -->


        <div class="work-heading">
           My Work .
        </div>


        <!-- VERTICAL SLIDER -->

        <div class="align-center"> 
        <div class="swiper-container">
            <div class="swiper-wrapper"> 

                <!-- FIRST PROJECT -->
            <div class="swiper-slide">
                <div class="project">

                    <div class="project-image">
                        <img src="images/project-one.jpg" alt="project-image">
                    </div>

                    <div class="project-info">
                        <div class="project-number">01</div>
                        <div class="project-heading">Nike Model</div>
                        <div class="project-info-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore provident, amet velit optio at dolor sunt deserunt assumenda, suscipit rerum a dolores vero eaque recusandae!
                        </div>
                    </div>

                </div>
            </div>
                <!-- FIRST PROJECT -->



                <!-- SECOND PROJECT -->
                <div class="swiper-slide">
                    <div class="project">
    
                        <div class="project-image">
                            <img src="images/project-three.jpg" alt="project-image">
                        </div>
    
                        <div class="project-info">
                            <div class="project-number">02</div>
                            <div class="project-heading">Rolex Project</div>
                            <div class="project-info-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio voluptates eligendi impedit, suscipit accusamus itaque consectetur tempore. Omnis animi quibusdam vel.
                            </div>
                        </div>
    
                    </div>
                </div>
                <!-- SECOND PROJECT -->  
                
                

                 <!-- THIRD PROJECT -->
                 <div class="swiper-slide">
                    <div class="project">
    
                        <div class="project-image">
                            <img src="images/project-two.jpg" alt="project-image">
                        </div>
    
                        <div class="project-info">
                            <div class="project-number">03</div>
                            <div class="project-heading">CK Intern</div>
                            <div class="project-info-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, nisi debitis fugiat nobis ullam officia ea aspernatur explicabo, 
                            </div>
                        </div>
    
                    </div>
                </div>
                    <!-- THIRD PROJECT -->



                
                <!-- FOURTH PROJECT -->
                <div class="swiper-slide">
                    <div class="project">
    
                        <div class="project-image">
                            <img src="images/project-four.jpg" alt="project-image">
                        </div>
    
                        <div class="project-info">
                            <div class="project-number">04</div>
                            <div class="project-heading">Adidas Runaway</div>
                            <div class="project-info-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, quisquam. Ratione magni magnam tempore quo, aperiam obcaecati
                            </div>
                        </div>
    
                    </div>
                </div>
                <!-- FOURTH PROJECT --> 

            </div>

            </div>
        
            <div class="vertical-slider-controls">
                <button id ="vertical-prev" ><img src="images/prev.png" alt="" class="imgs"></button>
                <button id ="vertical-next" ><img src="images/next.png" alt="" class="imgs"></button>
            </div>


        </div>

        <!-- VERTICAL SLIDER -->


    </div>
    <!-- WORK CONTENT -->

        </div>
        <!-- WORK PAGE -->



        <!-- CONTACT PAGE -->
        <div id="contact">

            <!-- CONTACT CONTENT -->

            <div id="contact-content">

        <!-- NAVIGATION -->
        <div class="navigation">
            <a href="#home" class="page-link">
                <div class="logo">Arlo Brown</div>
               </a> 
            <div class="navigation-bar hover">
                <div class="navigation-line"></div>
                <div class="navigation-line"></div>
                <div class="navigation-line"></div>
            </div>
        </div>
        <!-- NAVIGATION -->

        <div class="contact-heading">
            CONTACT ME.
        </div>

                <!-- CONTACT FORM -->

                <div id="contact-form">

            <form  id ="myForm" action="mail.php">
              <div class="input-line">
                <input id="name" type="text" placeholder="NAME" class="input-same-line" required>
                <input id="email" type="email" placeholder="EMAIL" class="input-same-line" required>
              </div>
              <div class="input-line-column">
                <input id="subject" type="text" placeholder="SUBJECT" required>
                <textarea name="textarea" id="body" class="textarea" placeholder="MESSAGE" required></textarea>
              </div>
             <button type="button" id="submit" class="hover">Send</button>
             <div id="message">INVALID EMAIL</div>
            </form>
                </div>
               <!-- CONTACT FORM -->
            </div>
            <!-- CONTACT CONTENT -->
        </div>
        <!-- CONTACT PAGE -->



    </div>
    <!-- ALL CONTENTS -->




    <!-- JS LINKS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" integrity="sha256-4sETKhh3aSyi6NRiA+qunPaTawqSMDQca/xLWu27Hg4=" crossorigin="anonymous"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/circletype.min.js"></script>
    <script src="js/jquery.lettering.js"></script>
    <script src="js/index.js"></script>
    <!-- JS LINKS -->


</body>
</html>