<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wink - Model Template" />
	<meta name="keywords" content="blog, business card, model, creative portfolio, model theme, actor, personal, portfolio, professional model, responsive portfolio, actress, model theme" />
	<meta name="author" content="wink" />
    <title>JAMES TYLER - American Supermodel & Entrepreneur</title>
  <!--favicon-img--> 
   <link rel="icon" type="image/png" href="images/favicon.png">
   <!--favicon-img-->

    <!-- BOOTSTRAP LINK -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- BOOTSTRAP LINK -->

    
     <!-- SWIPER CSS LINK -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css" integrity="sha256-DBYdrj7BxKM3slMeqBVWX2otx7x4eqoHRJCsSDJ0Nxw=" crossorigin="anonymous"/>
     <!-- SWIPER CSS LINK -->

    <!-- CSS LINK -->
    <link rel="stylesheet" href="css/index.css">
    <!-- CSS LINK -->

<!-- GSAP LINK -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
<!-- GSAP LINK -->

</head>
<body>

 <!-- ALL THE DIV ARE UNDER ALL TAG -->
   <div id="all">
       <!-- LOADER -->
       <div id="loader">
        <div class="loader-signature">
            James Tyler
        </div>
       </div>
          <!-- LOADER -END -->
          <!-- NAVIGATION -->
        <div id="navigation">
            <div class="logo less-opacity">
                <div class="header-text-signature logo-text">
                    James Tyler
                </div>
            </div>
            <div class="navigation-close less-opacity">
                <div class="navigation-close-line-first"></div>
                <div class="navigation-close-line-second"></div>
            </div>
            <div class="navigation-links">
                <a href="#" data-text="HOME" class="nav-li home-link" >HOME</a>
                <a href="#" data-text="ABOUT" class="nav-li about-link" >ABOUT</a>
                <a href="#" data-text="BLOG" class="nav-li blogs-link"  >BLOG</a>
                <a href="#" data-text="PROJECTS" class="nav-li projects-link" >PROJECTS</a>
                <a href="#" data-text="CONTACT" class="nav-li contact-link" >CONTACT</a>
                <a href="#" data-text="GALLERY" class="nav-li gallery-link" >GALLERY</a>
            </div>
            <div class="social-links-home">
                <ul>
                    <li class="social-link less-opacity"><a href="">
                       <img src="images/twitter-logo.png" alt="facebook logo">
                    </a></li>
                    <li class="social-link less-opacity"><a href="">
                       <img src="images/instagram-logo.png" alt="facebook logo">
                    </a></li>
                    <li class="social-link less-opacity"><a href="">
                       <img src="images/youtube-logo.png" alt="facebook logo">
                    </a></li>
                </ul>
             </div>
        </div>
        <!-- NAVIGATION END -->
        <!-- CUSTOM CURSOR -->
        <div class="cursor"></div>
        <!-- CUSTOM CURSOR END -->
     
        <!-- HOME -->
        <div id="home">
            <div class="header">
                <div class="row">
                  
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="home-container">

                      <div class="navigation-bar">
                          <div class="navigation-logo home-text logo-text">
                              James Tyler
                          </div>
                          <div class="navigation">
                              <div class="navigation-line"></div>
                              <div class="navigation-line"></div>
                              <div class="navigation-line"></div>
                          </div>
                      </div>

                      <div class="main-home-content">
                        <div class="main-home-pic">
                            <img src="images/profile-one.jpg" alt="pic-one" class="profile-pic active-img">
                            <img src="images/profile-two.jpg" alt="pic-one" class="profile-pic">
                            <img src="images/profile-pic-five.jpg" alt="pic-one" class="profile-pic">
                        </div>
  
                      </div>

                      <div class="social-links-home">
                         <ul>
                             <li class="social-link"><a href="">
                                <img src="images/twitter-logo-black.png" alt="facebook logo">
                             </a></li>
                             <li class="social-link"><a href="">
                                <img src="images/instagram-logo-black.png" alt="facebook logo">
                             </a></li>
                             <li class="social-link"><a href="">
                                <img src="images/youtube-logo-black.png" alt="facebook logo">
                             </a></li>
                         </ul>
                      </div>

                      <div class="social-links-home social-links-home-white">
                        <ul>
                            <li class="social-link"><a href="">
                               <img src="images/twitter-logo.png" alt="twitter-logo">
                            </a></li>
                            <li class="social-link"><a href="">
                               <img src="images/instagram-logo.png" alt="instagram-logo">
                            </a></li>
                            <li class="social-link"><a href="">
                               <img src="images/youtube-logo.png" alt="youtube-logo">
                            </a></li>
                        </ul>
                     </div>


                      <div class="main-home-text home-text">
                        American SuperModel
                    </div>

                    <div class="gallery-link-home" data-text="GALLERY">
                        <a href="#0">GALLERY</a>
                    </div>

                      </div>
                    </div>
                 
                
                </div>
             </div>
         </div>
        <!-- HOME END -->
       <!-- ABOUT -->
       <div id="about">
           <div id="about-content">
               <!-- ABOUT-NAVIGATOR -->
           <div class="about-navigator">
            <div class="about-navigation">
                <div class="about-close about-opacity close">
                    <div class="navigation-close-line-first close-color"></div>
                    <div class="navigation-close-line-second close-color"></div>
                </div>
               </div>
           </div>
               <!-- ABOUT-NAVIGATOR -->


               <!-- ABOUT-HEADER -->
           <div class="about-header about-opacity">
             About Me .
           </div>

               <!-- ABOUT-HEADER -->

               <!-- ABOUT-CONTENT -->
           <div class="row about-row">
           <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                   <div class="about-text">
                       <div class="about-text-info about-opacity">
                           <ul>
                               <li>Age : 24</li>
                               <li>Hometown: St. Louis, MO</li>
                               <li>Residence: New York, NY</li>
                           </ul>
                       </div>
                       <div class="about-opacity">
                        James Tyler is an American supermodel, 7-time Vogue cover boy, entrepreneur and philanthropist.
                        <br><br>
                                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla cupiditate enim voluptas dolorem quas libero! Facere aperiam ea suscipit blanditiis, culpa, veritatis aspernatur quae earum doloremque totam veniam consequuntur sapiente?
                                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur fugit quam, officiis nemo neque facilis nulla autem porro nobis laborum. Hic quis ipsa, nam vitae asperiores corrupti laboriosam veniam quaerat? <br><br>
                                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cupiditate laboriosam fuga saepe, quia tempora voluptatum recusandae beatae in modi, odit, quos temporibus. Vitae aperiam cum voluptatem natus itaque minus?
                                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, cumque id. Accusantium esse ipsa eius corrupti, placeat neque fuga tempore, saepe, exercitationem soluta quam officiis minus! Veritatis eius deserunt iure?<br><br>
                                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, eveniet voluptates necessitatibus nihil adipisci fugiat mollitia sint at minima, enim doloremque soluta fuga possimus, placeat exercitationem quibusdam animi itaque dolore.
                       </div>
                       <div class="about-opacity cv-button">
                        <a href="cv.txt"  download="CV" class="hover">Download CV</a>
                      </div>
                       <div class="social-media-links">
                        <a href="#"><img src="images/instagram-logo-black.png" alt="instagram-logo"></a> <!--PASTE YOUR LINK IN PLACE OF '#' -->
                        <a href="#"><img src="images/youtube-logo-black.png" alt="youtube-logo"></a> <!--PASTE YOUR LINK IN PLACE OF '#' -->
                        <a href="#"><img src="images/twitter-logo-black.png" alt="Twitter-logo"></a> <!--PASTE YOUR LINK IN PLACE OF '#' -->
                    </div>
                   </div>
                </div>
                <!-- ABOUT-IMAGE -->
          <div class="col-12 col-sm-12 col-sm-12 col-lg-5">
              <div class="about-img about-opacity">
                <img src="images/profile-four.jpg" alt="about-img"> <!--JPG IMAGE-->
              </div>
          </div>
                <!-- ABOUT-IMAGE -->
          </div>
          <!-- PHYSICAL INFO -->
          <div class="col-12 col-sm-12 col-sm-12 col-lg-12">
            <div class="about-physical-info about-opacity">
              <div class="header-physical-info">
                  <div class="header-physical-info-heading">Measurements</div>
                     <ul>
                         <li ><span class="opacity"> Hair Color</span><br> Black</li>
                         <li ><span class="opacity">Eye Color</span><br> Green</li>
                         <li ><span class="opacity">Height</span><br> 5'11"</li>
                         <li ><span class="opacity">Weight</span><br> 64kg</li>
                         <li ><span class="opacity">Chest</span><br> 36"</li>
                         <li ><span class="opacity">Waist</span><br> 29" </li>
                         <li ><span class="opacity">Neck</span><br> 19"</li>
                         <li ><span class="opacity">Sleeve</span><br> 34"</li>
                         <li ><span class="opacity">Shoe Size</span><br> 10</li>
                     </ul>
                  </div>
           </div>
            </div>
            <!-- PHYSICAL INFO END -->
              <!--copyright-section You Can Remove After Downloading-->
              <div class="footer">
                <div class="footer-text">
                    <img src="images/copyright.png" alt="copyright-img" class="images" > Wink
                </div>
               </div>
       <!--copyright-section-->
           </div>
                       
        </div>
<!-- ABOUT-END -->


<!-- PROJECTS -->
       <div id="projects">
           <div id="project-content">
               <!-- PROJECTS-NAVIGATOR -->
        <div class="about-navigator">
            <div class="about-navigation">
                <div class="project-close project-opacity close">
                    <div class="navigation-close-line-first"></div>
                    <div class="navigation-close-line-second"></div>
                </div>
               </div>
           </div>
               <!-- PROJECTS-NAVIGATOR END -->

               <!-- PROJECT-HEADING -->
           <div class="projects-heading project-opacity">
               My Work .
           </div>
               <!-- PROJECT-HEADING -->
<!-- PROJECTS CONTENT-->

<!-- project -->
           <div class="project">
         <div class="row">
            <a href="#0">
               <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-6">
                <div class="project-text project-opacity">
                    <div class="project-number">
                        01
                    </div>
                   <a href="#" class="project-link"><div class="project-name">Nike Model</div></a>
                    <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis eveniet itaque eaque ducimus libero sequi ad, saepe, earum.</div>
                </div>
               </div>
                <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-6">
                    <div class="project-image project-opacity">
                        <img src="images/projects.jpg" alt="projects">
                    </div>
                </div>
            </a>  
        </div>
        </div>
        <!--project-->

        <!--project-->
        <div class="project">
            <div class="row">
                <a href="#0">
                  <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-6">
                   <div class="project-text project-opacity">
                       <div class="project-number">
                           02
                       </div>
                       <a href="#" class="project-link"><div class="project-name">SI Perfume</div></a>
                       <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis eveniet itaque eaque ducimus libero sequi ad, saepe, earum.</div>
                   </div>
                  </div>
                   <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-6">
                       <div class="project-image  project-opacity">
                           <img src="images/projects-two.jpg" alt="projects">
                       </div>
                   </div>
                </a>  
           </div>
           </div>
           <!--project-->

           <!--project-->
           <div class="project">
            <div class="row">
                <a href="#0">
                  <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-6">
                   <div class="project-text project-opacity">
                       <div class="project-number">
                           03
                       </div>
                       <a href="#" class="project-link"><div class="project-name">Adidas Runway</div></a>
                       <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis eveniet itaque eaque ducimus libero sequi ad, saepe, earum.</div>
                   </div>
                  </div>
                   <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-6">
                       <div class="project-image project-opacity">
                           <img src="images/projects-three.jpg" alt="projects">
                       </div>
                   </div>
                   </a>  
           </div>
           </div>
           <!--project-->

           <!--project-->
           <div class="project">
            <div class="row">
                <a href="#0">
                  <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-6">
                   <div class="project-text project-opacity">
                       <div class="project-number">
                           04
                       </div>
                       <a href="#" class="project-link"><div class="project-name">Apple Project</div></a>
                       <div class="project-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis eveniet itaque eaque ducimus libero sequi ad, saepe, earum.</div>
                   </div>
                  </div>
                   <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-6">
                       <div class="project-image project-opacity">
                           <img src="images/projects-four.jpg" alt="projects">
                       </div>
                   </div> 
                   </a> 
           </div>
           </div>
           <!--project-->
           
<!-- PROJECTS CONTENT END-->
             <!--copyright-section You Can Remove After Downloading-->
             <div class="footer">
                <div class="footer-text">
                    <img src="images/copyright.png" alt="copyright-img" class="images" > Wink
                </div>
               </div>
       <!--copyright-section-->
         </div>
       </div>


       <!-- BLOGS -->
         <div id="blogs">
            <div id="blogs-content">
                <!-- BLOGS-NAVIGATOR -->
                <div class="about-navigator">
                    <div class="about-navigation">
                        <div class="blogs-close blogs-opacity close">
                            <div class="navigation-close-line-first"></div>
                            <div class="navigation-close-line-second"></div>
                        </div>
                       </div>
                   </div>
                <!-- BLOGS-NAVIGATOR END -->
 
                <!-- BLOGS-HEADER -->
                   <div class="blogs-header blogs-opacity">
                   My Blogs .
                  </div>
                  <!-- BLOGS-HEADER END -->

                  <!-- BLOGS-CONTENT -->
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-8 col-lg-4">
                        <div class="blog blogs-opacity">
                            <div class="blog-image">
                             <a href="#">
                                <img src="images/post-one.jpg" alt="blog">
                                <div class="blog-date">8 Jun,20</div>
                             </a>  
                            </div>
                            <div class="blog-text">
                                <div class="blog-text-heading">Craving to Travel</div>
                              <div class="blog-text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam illo, alias iusto rerum quas velit obcaecati, provident porro magni</div>  
                            </div>
                      </div>
                  </div>
                  <div class="col-12 col-sm-8 col-lg-4">
                    <div class="blog blogs-opacity">
                        <div class="blog-image">
                          <a href="#">
                            <img src="images/post-two.jpg" alt="blog">
                            <div class="blog-date">16 Jan,20</div>
                          </a>  
                        </div>
                        <div class="blog-text">
                            <div class="blog-text-heading">Nature Heals Itself</div>
                          <div class="blog-text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatum neque, aliquam excepturi nam facere dolores accusantium aperiam.</div>  
                        </div>
                  </div>
                  </div>
                  <div class="col-12 col-sm-8 col-lg-4">
                    <div class="blog blogs-opacity">
                        <div class="blog-image">
                         <a href="#">  <img src="images/post-three.jpg" alt="blog">
                            <div class="blog-date">30 Nov,19</div></a> 
                        </div>
                        <div class="blog-text">
                            <div class="blog-text-heading">Caffeine Addict</div>
                          <div class="blog-text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam illo, alias iusto rerum quas velit obcaecati, provident porro magni</div>  
                        </div>
                  </div>
                  </div>
                  <div class="col-12 col-sm-8 col-lg-4">
                    <div class="blog blogs-opacity">
                        <div class="blog-image">
                           <a href="#">
                            <img src="images/post-four.jpg" alt="blog">
                            <div class="blog-date">4 Oct,19</div>
                           </a>
                        </div>
                        <div class="blog-text">
                            <div class="blog-text-heading">The Perfect Pose</div>
                          <div class="blog-text-content">Lorem ipsum dolor sit amet eius, atque qui quasi soluta, tempore itaque eligendi nisi odit repellat veritatis! Beatae ad repellat obcaecati magni?</div>  
                        </div>
                  </div>
                  </div>
                  <div class="col-12 col-sm-8 col-lg-4">
                    <div class="blog blogs-opacity">
                        <div class="blog-image">
                        <a href="#">  <img src="images/post-five.jpg" alt="blog">
                            <div class="blog-date">19 Sep,19</div></a> 
                        </div>
                        <div class="blog-text">
                            <div class="blog-text-heading">Work From Home</div>
                          <div class="blog-text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam illo, alias iusto rerum quas velit obcaecati, provident porro magni</div>  
                        </div>
                  </div>
                  </div>
                     <div class="col-12 col-sm-8 col-lg-4">
                    <div class="blog blogs-opacity">
                        <div class="blog-image">
                          <a href="#">
                            <img src="images/post-six.jpg" alt="blog">
                            <div class="blog-date">6 Jun,19</div>
                          </a>  
                        </div>
                        <div class="blog-text">
                            <div class="blog-text-heading">Stay Fit</div>
                          <div class="blog-text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam illo, alias iusto rerum quas velit obcaecati, provident porro magni</div>  
                        </div>
                  </div>
                  </div>
              </div>
            </div>
            <!-- BLOGS-CONTENT END -->

       <!--copyright-section You Can Remove After Downloading-->
             <div class="footer">
                <div class="footer-text">
                    <img src="images/copyright.png" alt="copyright-img" class="images" > Wink
                </div>
               </div>
       <!--copyright-section-->
        </div>
          </div>
          <!-- BLOGS-END -->

<!-- CONTACT -->
          <div id="contact">
              <div id="contact-content">
                  <!-- CONTACT-NAVIGATOR -->
                <div class="about-navigator">
                    <div class="about-navigation">
                        <div class="contact-close contact-opacity close">
                            <div class="navigation-close-line-first"></div>
                            <div class="navigation-close-line-second"></div>
                        </div>
                       </div>
                   </div>
                  <!-- CONTACT-NAVIGATOR END-->

                  <!-- CONTACT-HEADER -->
                   <div class="contact-header contact-opacity">
                    Contact Me .
                  </div>
                  <!-- CONTACT-HEADER END -->
               <div class="container-fluid ">
                <div class="row justify-content-center">
         <div class="col-12 col-sm-12 col-lg-7 ">
             <!-- FORM -->
             <div class="form contact-opacity">
                 <div class="form-header">
                 Message Me
                 </div>
                 <form>
                    <form id="myForm" action="mail.php">
                        <div class="input-line">
                            <input  id="name" type="text" placeholder="Name" class="input-name">
                            <input id="email" type="email" placeholder="Email"  class="input-name">
                        </div>
                        <input type="text" id="subject" placeholder="subject" class="input-subject">
                        <textarea id ="body" class="input-textarea" placeholder="message"></textarea>
                        <button type="button" id ="submit" value="send">Submit</button>
                     </form>
                     <div id="message">
                         INVALID EMAIL
                     </div>
             </div>
             <!-- FORM-END -->
         </div>
         <!-- CONTACT-INFO -->
         <div class="col-12 col-sm-12 col-lg-5 ">
           <div class="contact-info contact-opacity">
               <div class="contact-info-header">
                   Contact Info
               </div>
               <div class="contact-info-content">
                <div class="contect-info-content-line">
                    <img src="images/icon-name.png" class="icon" alt="name-icon">
                    <div class="contact-info-icon-text">
                        <h6>Name</h6>
                        <p>James Tyler</p>
                  </div>
                </div>
                <div class="contect-info-content-line">
                  <img src="images/icon-location.png" class="icon" alt="location-icon">
                  <div class="contact-info-icon-text">
                      <h6>Location</h6>
                      <p>New York, USA</p>
                </div>
              </div>
              <div class="contect-info-content-line">
                  <img src="images/icon-phone.png" class="icon" alt="phone-icon">
                  <div class="contact-info-icon-text">
                      <h6>Call</h6>
                      <p>+9865376531</p>
                </div>
              </div>
              
              <div class="contect-info-content-line">
                  <img src="images/icon-email.png" class="icon" alt="email-icon">
                  <div class="contact-info-icon-text">
                      <h6>Email</h6>
                      <p>info@example.com</p>
                </div>
              </div>
                </div>
           </div>
        </div>
         <!-- CONTACT-INFO END-->
               </div>  
          </div>
                  <!--copyright-section You Can Remove After Downloading-->
                  <div class="footer">
                    <div class="footer-text">
                        <img src="images/copyright.png" alt="copyright-img" class="images"> Wink
                    </div>
                   </div>
           <!--copyright-section-->
          </div>
          </div>
          <!-- CONTACT-END -->

          <div id="gallery">

            <div id="gallery-content">


                 <!-- GALLERY-NAVIGATOR -->
           <div class="about-navigator">
            <div class="about-navigation">
                <div class="gallery-close galllery-opacity close">
                    <div class="navigation-close-line-first "></div>
                    <div class="navigation-close-line-second "></div>
                </div>
               </div>
           </div>
               <!-- GALLERY-NAVIGATOR -->


               <!-- GALLERY-HEADER -->
           <div class="gallery-header gallery-opacity">
             Gallery.
           </div>

               <!-- GALLERY-HEADER -->


              
        <!-- VERTICAL SLIDER -->

        <div class="align-center gallery-opacity"> 
            <div class="swiper-container">
                <div class="swiper-wrapper"> 
    
                    <!-- FIRST PIC -->
                <div class="swiper-slide">
                
                        <img src="images/profile-one.jpg" alt="pic">
                    
                </div>
                    <!-- FIRST PIC -->
    
    
    
                    <!-- SECOND PIC -->
                    <div class="swiper-slide">
         
                        <img src="images/profile-three.jpg" alt="pic">
                        
                    </div>
                    <!-- SECOND PIC -->  
                    
                    
    
                     <!-- THIRD PIC -->
                     <div class="swiper-slide">
                   
                        <img src="images/profile-four.jpg" alt="pic">
                    
                    </div>
                        <!-- THIRD PIC -->
    
    
    
                    
                    <!-- FOURTH PIC -->
                    <div class="swiper-slide">
                    
                        <img src="images/profile-pic-five.jpg" alt="pic">
        
                    </div>
                    <!-- FOURTH PIC --> 


                  <!-- FIFTH PIC -->
                <div class="swiper-slide">
                
                    <img src="images/profile-two.jpg" alt="pic">
                
                </div>
                <!-- FIFTH PIC -->
    
                </div>
    
                </div>
    
    
            </div>

            <div class="slider-controls gallery-opacity">
                <button id ="prev" ><img src="images/prev.png" alt="" class="imgs"></button>
                <button id ="next" ><img src="images/next.png" alt="" class="imgs"></button>
            </div>
    
            <!-- VERTICAL SLIDER -->

            </div>

          </div>

          
          </div>
 <!-- ALL THE DIV ARE UNDER ALL TAG -->

    <!-- JS LINKS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" integrity="sha256-4sETKhh3aSyi6NRiA+qunPaTawqSMDQca/xLWu27Hg4=" crossorigin="anonymous"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <!-- JS LINKS -->
</body>

</html>